{% load i18n %}{% autoescape off %}
<html>
<body>
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
<br /><br />
{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
    <a href="{{ protocol }}://{{ domain }}{{ password_reset_confirm_url }}?uid={{uid}}&token={{token}}">{{ protocol }}://{{ domain }}{{ password_reset_confirm_url }}?uid={{uid}}&token={{token}}</a>
{% endblock %}
<br /><br />
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
<br /><br />
{% trans "Thanks for using our site!" %}
<br />
{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
</body>
</html>
{% endautoescape %}