<section class="app-container md-whiteframe-z1" layout="column">
    <md-toolbar class="app-toolbar">
        <div class="md-toolbar-tools">
            <span class="md-flex">{{ active_section.survey_section.name }}</span>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
	    <div class="app-questionresponse">
	        <div class="app-questionresponse-question">
	          <p>{{ active_question.question.question }}</p>
	        </div>
	        <div class="app-questionresponse-answers">
	            <p class="app-questionresponse-answer-label">Answer:</p> 	        
	            <p ng-show="active_question.question.question_type == 'file'" class="ng-hide">
	               File response. Please add attachment(s) below.
	            </p>
	            
	            <input ng-model-options="{ updateOn: 'blur' }" ng-change="process_answer()" ng-model="active_question.answer" ng-show="active_question.question.question_type == 'text'" class="ng-hide app-questionresponse-text"></input>
	            <textarea rows="5" ng-show="active_question.question.question_type == 'textarea'" ng-model-options="{ updateOn: 'blur' }" ng-change="process_answer()" layout-margin ng-model="active_question.answer" class="ng-hide app-questionresponse-textarea"></textarea>
                
                <md-content class="ng-hide app-questionresponse-boolean" ng-show="active_question.question.question_type == 'boolean'">
                    <md-radio-group ng-model="active_question.answer" ng-change="process_answer()">
                        <md-radio-button value="true" aria-label="True">
                            True
                        </md-radio-button>
                        <md-radio-button value="false" aria-label="False">
                            False
                        </md-radio-button>
                    </md-radio-group>
                </md-content>
                
	            <md-content class="ng-hide app-questionresponse-choice" ng-show="active_question.question.question_type == 'choice'">
		            <md-radio-group ng-model="active_question.answer" ng-change="process_answer()">
				        <md-radio-button ng-repeat="d in active_question.question._choices" ng-value="d.value" aria-label="{{ d.name }}">
				            {{ d.name }}
				        </md-radio-button>
				    </md-radio-group>
			    </md-content>
			    <md-content class="ng-hide app-questionresponse-multichoice" ng-init="d._selected=false" ng-show="active_question.question.question_type == 'multiple choice'">
                     <md-checkbox ng-change="process_answer()" ng-model="d._selected" ng-repeat="d in active_question.question._choices" aria-label="{{ d.name }}">
                         {{ d.name }}
                     </md-checkbox>
                </md-content>
			</div>
			<md-divider>&nbsp;</md-divider>
			<div class="app-questionresponse-resources">
			    <p class="app-questionresponse-resource-label">Attachments:</p>
			    <md-list>    
                     <md-item ng-repeat="record in active_question._resources">
                         <md-item-content md-ink-ripple="#bbb" layout="row" layout-align="space-between center">
                          <div class="md-tile-content" flex>
                            <a href="{{record.resource}}" target="_blank">
                              <h3>{{record.name}}</h3>
                            </a>
                            <p ng-show="{{ record.description}}" >
                              {{record.description}}
                            </p>
                          </div>
                          <md-button ng-click="delete_attachment(record)" class="md-warn">Delete</md-button>
                        </md-item-content>              
                        <md-divider layout-margin></md-divider>
                </md-item>
                <md-list>        
                        <md-item ng-repeat="record in new_resources">
                         <md-item-content md-ink-ripple="#bbb" layout="row" layout-align="start center">
	                          <div class="md-tile-content" flex>
	                            <h3>{{record.name}}</h3>
	                          </div>
	                          <div layout-margin class="app-upload-progress">
	                            <md-progress-linear md-mode="determinate" ng-value="record.progress">&nbsp;hello!</md-progress-linear>
	                          </div>
                        </md-item-content>              
                        <md-divider layout-margin></md-divider>
                     </md-item>
                </md-list>
                
			    <div class="app-upload-elements" layout="row" layout-align="start center">
				    <md-button class="md-button md-primary">
					   <div style="outline: 0; border: 0" ng-file-select ng-model="new_resources"
                        ng-file-change="create_attachment($files, $event, null)" ng-multiple="true" ng-capture="'camera'|'other'">
                            Upload
                        </div>
                    </md-button>
					<p ng-if="dropSupported" class="app-drop-separator">OR<p>
					<div class="app-attachment-drop-box" ng-file-drop ng-model="new_resources" 
					    ng-file-change="create_attachment($files, $event, $rejectedFiles)" 
					    ng-multiple="true" allowDir="true|false" // default true, allow dropping files only for Chrome webkit browser
					    dragOverClass="{accept:'app-drag-file-accept', reject:'app-drag-file-reject', delay:100}" 
					    stopPropagation="true" dropAvailable="dropSupported">  
					Drop files here
					</div>
			    </div>
			    
			</div>
	    </div>
	    
	</md-content>
	<md-toolbar class="app-toolbar md-primary" id="app-questionresponse-footer">
        <md-content layout-margin layout="row" layout-align="space-between center">
               <div ng-show="previous_question_obj == null">&nbsp;</div>
               <md-button ng-show="previous_question_obj" ng-click="previous_question()" class="md-grid-item-content" aria-label="previous" layout="row" layout-align="start center">
                    <div class="md-icon-container app-icon-prev">&nbsp;</div>
	                <div>
	                   <p class="app-response-nav-label app-response-previous-label">Previous: </p>
	                   <p class="app-response-nav-text app-response-previous-text">
	                     {{ previous_question_obj.question.question | characters:25: true }}
	                   </p>
	                </div>
               </md-button>
           
               <md-button ng-show="next_question_obj" ng-click="next_question()" class="md-grid-item-content" aria-label="next" layout="row" layout-align="end center">
                    <div>
                       <p class="app-response-nav-label app-response-next-label">Next: </p>
                       <p class="app-response-nav-text app-response-next-text">
                         {{ next_question_obj.question.question | characters:25: true }}
                       </p>
                    </div>
                    <div class="md-icon-container app-icon-next">&nbsp;</div>
               </md-button>
               <md-button ng-show="active_question && (next_question_obj == null)" ng-click="Complete()" class="ng-hide md-primary md-grid-item-content app-finish-button" aria-label="next" layout="row" layout-align="end center">
                    <div>
                       <p>Finish</p>
                    </div>
                    <div class="md-icon-container app-icon-next">&nbsp;</div>
               </md-button>
        </md-content>
    </md-toolbar>
	
</section>   