<section class="app-container md-whiteframe-z1" layout="column">
    <div class="app-overview-form" flex>
      <md-content md-theme="app-dark" flex>
          <md-content layout-margin>
            <form>
              <div class="row" layout-align="space-around">
                <md-text-float label="Name" ng-model="record.survey.name" class="long" flex="60"></md-text-float>
                <md-text-float label="Type" ng-model="record.survey.survey_type.name"></md-text-float>
              </div>
            </form>
          </md-content>
      </md-content>
      <md-content>
        <md-content layout-margin>
            <form>
              <md-text-float multiline label="Description" ng-model="record.survey.description" class="long tall"></md-text-float>
              <div class="row">
                  <md-text-float label="Status" ng-model="record.status.name"> </md-text-float>
                  <md-text-float label="Sections (completed)" ng-model="section_count"> </md-text-float>
                  <md-text-float label="Questions  (completed)" ng-model="question_count"> </md-text-float>
              </div>
              <div ng-if="record.completed_date != null" class="row">
                  <md-text-float label="Passed" ng-model="record.passed"> </md-text-float>
                  <md-text-float label="Score" ng-model="record.score"> </md-text-float>
              </div>
              <div class="row">
                  <md-text-float label="User" ng-model="record.user.username" flex="30"> </md-text-float>
                  <md-text-float ng-if="record.completed_date == null" label="Due" ng-model="due_date" flex="30" class="long"> </md-text-float>
                  <md-text-float ng-if="record.completed_date == null" label="Updated" ng-model="_date" flex="30" class="long"> </md-text-float>
                  <md-text-float ng-if="record.completed_date != null" label="Completed" ng-model="_date" flex="30" class="long"> </md-text-float>
              </div>
            </form>
        </md-content>
      </md-content>
      <md-content layout-margin>
          <md-divider></md-divider>
          <md-content layout-margin layout="row" layout-align="end center">
               <md-button ng-if="meta.permissions.change" class="md-primary" ng-click="launch_response()">Resume</md-button>
               <md-button ng-if="meta.permissions.delete" class="md-warn" ng-click="delete_response()">Delete</md-button>
          </md-content>
      </md-content>  
    </div>
    
</section>  